*.7z
*.cpp
*.hpp
*.json
*.list
*.lnk
*.map
*.rpt

Autotest/**/*.bat
Autotest/**/*.txt

MissionsEditor/###TEMP/*
MissionsEditor/###TEMP2/*
MissionsEditor/##Test/*
MissionsEditor/##BK/*
MissionsEditor/RM.Stratis/*
MissionsEditor/TM.Altis/*
MissionsEditor/TM.Stratis/*
MissionsEditor/TM.ivachev/*

*AiA*.*
*/Saved/*.*

Arma3.cfg
*.Arma3Profile
debug.log
